# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform lock file

# Sensitive variable files

# CLI local config
.terraform.d/

# Local .env files
.env

# OS files
Thumbs.db
.DS_Store

# IDEs and editors
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows file history
ehthumbs.db
Icon?
12:13 pm